* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform 0.85s cubic-bezier(.075, .5, 0, 1);
}

/* @font-face {
	font-family: raleway_f;
	src: url(raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(raleway-black.woff2);
	font-weight: 900;
} */

body {
	background-color: #b3c4d5;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}

.main-header {
	position: relative;
}

.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 16);
	background-image: url(ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -8.5);
}

.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	z-index: 2;
	transition: var(--transition);
}

.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 3;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -1px;
	z-index: 10;
}
.main-article__content {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / 15), 0);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
}

.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

/********** Стиль окна логина/регистации **********/

.main-box {
	width: 22em;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 2em;
    backdrop-filter: blur(10px); /* размытие */
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	transform: var(--main-article-transform);
	transition: var(--transition);
}

/*Активация окна логина/регистрации при нажатии кнопки Логин в навигации через JavaScript */

.main-box.active-popup {
    transform: scale(1);
}

/* Общее расположение внутри окна */

.main-box .form-box {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    width: 20em;
	height: 29em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Скрытие окна Логин */

.main-box .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

/* Сдвиг Логина влево при клике на ссылку регистрация */

.main-box.active .form-box.login {
    transition: none;
    transform: translateX(-25em);
}

/* Смещение регистрации от окна логина вправо */

.main-box .form-box.register {
    position: absolute;
    transform: none;
    transform: translateX(25em);
}

/* Смещение регистрации в окно логина */

.main-box.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

/* Стиль надписи "Логин" и "Регистрация" */

.form-box h2 {
	font-size: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 1em #9d822b;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Стиль области почты и пароля */

.input-box {
    position: relative;
    border-bottom: 2px solid var(--text);
    margin: 10% 0;
	color: var(--text);
}

/* Стиль надписи почты и пароля и его расположение */

.input-box label {
	color: var(--text);
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}

/* Смещение текста в текстовом поле для ввода данных */

.input-box input:focus~label,
.input-box input:valid~label {
    top: -.4em;
}

/* Стиль текстового поля почты и пароля */

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 3em 0 .5em;
	color: var(--text);
}

/* Стиль иконок и их расположение */

.input-box .icon {
    position: absolute;
    right: .5em;
}

/* Стиль и расположение текста "запомнить меня" и "забыли пароль?" */

.remember-forgot {
	color: var(--text);
    margin: 1.5em 0;
    display: flex;
    justify-content: space-between;
}

/* Стиль флажка */

.remember-forgot label input {
    accent-color: var(--text);
    margin-right: .2em;
}

/* Стиль текста ссылки "забыли пароль?" */

.remember-forgot a {
	color: var(--text);
    text-decoration: none;
}

/* Появление подчеркивания под ссылкой */

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Стиль кнопки "Логин" */

.btn {
    width: 100%;
    height: 3em;
    background: #022028;
    border: none;
    outline: none;
    border-radius: .5em;
    cursor: pointer;
    font-size: 1em;
	color: var(--text);
}

/* Стиль текста о регистрации */

.login-register {
    color: var(--text);
    text-align: center;
    margin: 1.5em 0 .7em;
}

/* Стиль ссылки о регистрации */

.login-register p a {
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
}

/* Появление подчеркивания под ссылкой */

.login-register p a:hover {
    text-decoration: underline;
}

